extends layout

block content
  section.vbox
    header.bg-white-only.header.header-md.navbar.navbar-fixed-top-xs
      .navbar-header.aside.bg-info.dk.nav-xs
        a.btn.btn-link.visible-xs(data-toggle='class:nav-off-screen,open', data-target='#nav,html')
          i.icon-list
        a.navbar-brand.text-lt(href='index.html')
          i.icon-earphones
          img.hide(src='images/logo.png', alt='.')
          span.hidden-nav-xs.m-l-sm Musik
        a.btn.btn-link.visible-xs(data-toggle='dropdown', data-target='.user')
          i.icon-settings
      ul.nav.navbar-nav.hidden-xs
        li
          a.text-muted(href='#nav,.navbar-header', data-toggle='class:nav-xs,nav-xs')
            i.fa.fa-indent.text
            i.fa.fa-dedent.text-active
      form.navbar-form.navbar-left.input-s-lg.m-t.m-l-n-xs.hidden-xs(role='search')
        .form-group
          .input-group
            span.input-group-btn
              button.btn.btn-sm.bg-white.btn-icon.rounded(type='submit')
                i.fa.fa-search
            input.form-control.input-sm.no-border.rounded(type='text', placeholder='Search songs, albums...')
      .navbar-right
        ul.nav.navbar-nav.m-n.hidden-xs.nav-user.user
          li.hidden-xs
            a.dropdown-toggle.lt(href='#', data-toggle='dropdown')
              i.icon-bell
              span.badge.badge-sm.up.bg-danger.count 2
            section.dropdown-menu.aside-xl.animated.fadeInUp
              section.panel.bg-white
                .panel-heading.b-light.bg-light
                  strong
                    | You have
                    span.count 2
                    | notifications
                .list-group.list-group-alt
                  a.media.list-group-item(href='#')
                    span.pull-left.thumb-sm
                      img.img-circle(src='images/a0.png', alt='...')
                    span.media-body.block.m-b-none
                      | Use awesome animate.css
                      br
                      small.text-muted 10 minutes ago
                  a.media.list-group-item(href='#')
                    span.media-body.block.m-b-none
                      | 1.0 initial released
                      br
                      small.text-muted 1 hour ago
                .panel-footer.text-sm
                  a.pull-right(href='#')
                    i.fa.fa-cog
                  a(href='#notes', data-toggle='class:show animated fadeInRight') See all the notifications
          li.dropdown
            a.dropdown-toggle.bg.clear(href='#', data-toggle='dropdown')
              span.thumb-sm.avatar.pull-right.m-t-n-sm.m-b-n-sm.m-l-sm
                img(src='images/a0.png', alt='...')
              | John.Smith
              b.caret
            ul.dropdown-menu.animated.fadeInRight
              li
                span.arrow.top
                a(href='#') Settings
              li
                a(href='profile.html') Profile
              li
                a(href='#')
                  span.badge.bg-danger.pull-right 3
                  | Notifications
              li
                a(href='docs.html') Help
              li.divider
              li
                a(href='modal.lockme.html', data-toggle='ajaxModal') Logout
    section
      section.hbox.stretch
        // .aside
        aside#nav.bg-dark.dk.nav-xs.aside.hidden-print
          section.vbox
            section.w-f-md.scrollable
              .slim-scroll(data-height='auto', data-disable-fade-out='true', data-distance='0', data-size='10px', data-railopacity='0.2')
                // nav
                nav.nav-primary.hidden-xs
                  ul.nav.bg.clearfix
                    li.hidden-nav-xs.padder.m-t.m-b-sm.text-xs.text-muted
                      | Discover
                    li
                      a(href='index.html')
                        i.icon-disc.icon
                        span.font-bold What's new
                    li
                      a(href='genres.html')
                        i.icon-music-tone-alt.icon
                        span.font-bold Genres
                    li
                      a(href='events.html')
                        i.icon-drawer.icon
                        b.badge.bg-primary.pull-right 6
                        span.font-bold Events
                    li
                      a(href='listen.html')
                        i.icon-list.icon
                        span.font-bold Listen
                    li
                      a(href='video.html', data-target='#content', data-el='#bjax-el', data-replace='true')
                        i.icon-social-youtube.icon
                        span.font-bold Video
                    li.m-b.hidden-nav-xs
                  ul.nav(data-ride='collapse')
                    li.hidden-nav-xs.padder.m-t.m-b-sm.text-xs.text-muted
                      | Interface
                    li
                      a.auto(href='#')
                        span.pull-right.text-muted
                          i.fa.fa-angle-left.text
                          i.fa.fa-angle-down.text-active
                        i.icon-screen-desktop.icon
                        span Layouts
                      ul.nav.dk.text-sm
                        li
                          a.auto(href='layout-color.html')
                            i.fa.fa-angle-right.text-xs
                            span Color option
                        li
                          a.auto(href='layout-boxed.html')
                            i.fa.fa-angle-right.text-xs
                            span Boxed layout
                        li
                          a.auto(href='layout-fluid.html')
                            i.fa.fa-angle-right.text-xs
                            span Fluid layout
                    li
                      a.auto(href='#')
                        span.pull-right.text-muted
                          i.fa.fa-angle-left.text
                          i.fa.fa-angle-down.text-active
                        i.icon-chemistry.icon
                        span UI Kit
                      ul.nav.dk.text-sm
                        li
                          a.auto(href='buttons.html')
                            i.fa.fa-angle-right.text-xs
                            span Buttons
                        li
                          a.auto(href='icons.html')
                            b.badge.bg-info.pull-right 369
                            i.fa.fa-angle-right.text-xs
                            span Icons
                        li
                          a.auto(href='http://www.weidea.net')
                            b.badge.bg-info.pull-right 369
                            i.fa.fa-angle-right.text-xs
                            span More
                        li
                          a.auto(href='grid.html')
                            i.fa.fa-angle-right.text-xs
                            span Grid
                        li
                          a.auto(href='widgets.html')
                            b.badge.bg-dark.pull-right 8
                            i.fa.fa-angle-right.text-xs
                            span Widgets
                        li
                          a.auto(href='components.html')
                            i.fa.fa-angle-right.text-xs
                            span Components
                        li
                          a.auto(href='list.html')
                            i.fa.fa-angle-right.text-xs
                            span List group
                        li
                          a.auto(href='#table')
                            span.pull-right.text-muted
                              i.fa.fa-angle-left.text
                              i.fa.fa-angle-down.text-active
                            i.fa.fa-angle-right.text-xs
                            span Table
                          ul.nav.dker
                            li
                              a(href='table-static.html')
                                i.fa.fa-angle-right
                                span Table static
                            li
                              a(href='table-datatable.html')
                                i.fa.fa-angle-right
                                span Datatable
                        li
                          a.auto(href='#form')
                            span.pull-right.text-muted
                              i.fa.fa-angle-left.text
                              i.fa.fa-angle-down.text-active
                            i.fa.fa-angle-right.text-xs
                            span Form
                          ul.nav.dker
                            li
                              a(href='form-elements.html')
                                i.fa.fa-angle-right
                                span Form elements
                            li
                              a(href='form-validation.html')
                                i.fa.fa-angle-right
                                span Form validation
                            li
                              a(href='form-wizard.html')
                                i.fa.fa-angle-right
                                span Form wizard
                        li
                          a.auto(href='chart.html')
                            i.fa.fa-angle-right.text-xs
                            span Chart
                        li
                          a.auto(href='portlet.html')
                            i.fa.fa-angle-right.text-xs
                            span Portlet
                        li
                          a.auto(href='timeline.html')
                            i.fa.fa-angle-right.text-xs
                            span Timeline
                    li
                      a.auto(href='#')
                        span.pull-right.text-muted
                          i.fa.fa-angle-left.text
                          i.fa.fa-angle-down.text-active
                        i.icon-grid.icon
                        span Pages
                      ul.nav.dk.text-sm
                        li
                          a.auto(href='profile.html')
                            i.fa.fa-angle-right.text-xs
                            span Profile
                        li
                          a.auto(href='blog.html')
                            i.fa.fa-angle-right.text-xs
                            span Blog
                        li
                          a.auto(href='invoice.html')
                            i.fa.fa-angle-right.text-xs
                            span Invoice
                        li
                          a.auto(href='gmap.html')
                            i.fa.fa-angle-right.text-xs
                            span Google Map
                        li
                          a.auto(href='jvectormap.html')
                            i.fa.fa-angle-right.text-xs
                            span Vector Map
                        li
                          a.auto(href='signin.html')
                            i.fa.fa-angle-right.text-xs
                            span Signin
                        li
                          a.auto(href='signup.html')
                            i.fa.fa-angle-right.text-xs
                            span Signup
                        li
                          a.auto(href='404.html')
                            i.fa.fa-angle-right.text-xs
                            span 404
                  ul.nav.text-sm
                    li.hidden-nav-xs.padder.m-t.m-b-sm.text-xs.text-muted
                      span.pull-right
                        a(href='#')
                          i.icon-plus.i-lg
                      | Playlist
                    li
                      a(href='#')
                        i.icon-music-tone.icon
                        span Hip-Pop
                    li
                      a(href='#')
                        i.icon-playlist.icon.text-success-lter
                        b.badge.bg-success.dker.pull-right 9
                        span Jazz
                // / nav
            footer.footer.hidden-xs.no-padder.text-center-nav-xs
              .bg.hidden-xs
                .dropdown.dropup.wrapper-sm.clearfix
                  a.dropdown-toggle(href='#', data-toggle='dropdown')
                    span.thumb-sm.avatar.pull-left.m-l-xs
                      img.dker(src='images/a3.png', alt='...')
                      i.on.b-black
                    span.hidden-nav-xs.clear
                      span.block.m-l
                        strong.font-bold.text-lt John.Smith
                        b.caret
                      span.text-muted.text-xs.block.m-l Art Director
                  ul.dropdown-menu.animated.fadeInRight.aside.text-left
                    li
                      span.arrow.bottom.hidden-nav-xs
                      a(href='#') Settings
                    li
                      a(href='profile.html') Profile
                    li
                      a(href='#')
                        span.badge.bg-danger.pull-right 3
                        | Notifications
                    li
                      a(href='docs.html') Help
                    li.divider
                    li
                      a(href='modal.lockme.html', data-toggle='ajaxModal') Logout
        // /.aside
        section#content
          section.vbox
            section#bjax-target.w-f-md
              section.hbox.stretch
                // side content
                aside#sidebar.aside.bg-light.dk
                  section.vbox.animated.fadeInUp
                    section.scrollable.hover
                      .list-group.no-radius.no-border.no-bg.m-t-n-xxs.m-b-none.auto
                        a.list-group-item(href='genres.html')
                          | All
                        a.list-group-item.active(href='genres.html')
                          | acoustic
                        a.list-group-item(href='genres.html')
                          | ambient
                        a.list-group-item(href='genres.html')
                          | blues
                        a.list-group-item(href='genres.html')
                          | classical
                        a.list-group-item(href='genres.html')
                          | country
                        a.list-group-item(href='genres.html')
                          | electronic
                        a.list-group-item(href='genres.html')
                          | emo
                        a.list-group-item(href='genres.html')
                          | folk
                        a.list-group-item(href='genres.html')
                          | hardcore
                        a.list-group-item(href='genres.html')
                          | hip hop
                        a.list-group-item(href='genres.html')
                          | indie
                        a.list-group-item(href='genres.html')
                          | jazz
                        a.list-group-item(href='genres.html')
                          | latin
                        a.list-group-item(href='genres.html')
                          | metal
                        a.list-group-item(href='genres.html')
                          | pop
                        a.list-group-item(href='genres.html')
                          | pop punk
                        a.list-group-item(href='genres.html')
                          | punk
                        a.list-group-item(href='genres.html')
                          | reggae
                        a.list-group-item(href='genres.html')
                          | rnb
                        a.list-group-item(href='genres.html')
                          | rock
                        a.list-group-item(href='genres.html')
                          | soul
                        a.list-group-item(href='genres.html')
                          | world
                // / side content
                section
                  section.vbox
                    section.scrollable.padder-lg
                      h2.font-thin.m-b Acoustic
                      .row.row-sm
                        .col-xs-6.col-sm-4.col-md-3.col-lg-2
                          .item
                            .pos-rlt
                              .item-overlay.opacity.r.r-2x.bg-black
                                .center.text-center.m-t-n
                                  a(href='#')
                                    i.fa.fa-play-circle.i-2x
                              a(href='track-detail.html')
                                img.r.r-2x.img-full(src='images/m1.jpg', alt='')
                            .padder-v
                              a.text-ellipsis(href='track-detail.html', data-bjax='', data-target='#bjax-target', data-el='#bjax-el', data-replace='true') Tempered Song
                              a.text-ellipsis.text-xs.text-muted(href='track-detail.html', data-bjax='', data-target='#bjax-target', data-el='#bjax-el', data-replace='true') Miaow
                        .col-xs-6.col-sm-4.col-md-3.col-lg-2
                          .item
                            .pos-rlt
                              .item-overlay.opacity.r.r-2x.bg-black
                                .center.text-center.m-t-n
                                  a(href='#')
                                    i.fa.fa-play-circle.i-2x
                              a(href='track-detail.html')
                                img.r.r-2x.img-full(src='images/m2.jpg', alt='')
                            .padder-v
                              a.text-ellipsis(href='track-detail.html', data-bjax='', data-target='#bjax-target', data-el='#bjax-el', data-replace='true') Morbi id neque quam
                              a.text-ellipsis.text-xs.text-muted(href='track-detail.html', data-bjax='', data-target='#bjax-target', data-el='#bjax-el', data-replace='true') Phasellus
                        .col-xs-6.col-sm-4.col-md-3.col-lg-2
                          .item
                            .pos-rlt
                              .item-overlay.opacity.r.r-2x.bg-black
                                .center.text-center.m-t-n
                                  a(href='#')
                                    i.fa.fa-play-circle.i-2x
                              a(href='track-detail.html')
                                img.r.r-2x.img-full(src='images/a10.png', alt='')
                            .padder-v
                              a.text-ellipsis(href='track-detail.html', data-bjax='', data-target='#bjax-target', data-el='#bjax-el', data-replace='true') Aliquam sollicitudin venenatis ipsum
                              a.text-ellipsis.text-xs.text-muted(href='track-detail.html', data-bjax='', data-target='#bjax-target', data-el='#bjax-el', data-replace='true') Malesuada
                        .col-xs-6.col-sm-4.col-md-3.col-lg-2
                          .item
                            .pos-rlt
                              .item-overlay.opacity.r.r-2x.bg-black
                                .center.text-center.m-t-n
                                  a(href='#')
                                    i.fa.fa-play-circle.i-2x
                              a(href='track-detail.html')
                                img.r.r-2x.img-full(src='images/m4.jpg', alt='')
                            .padder-v
                              a.text-ellipsis(href='track-detail.html', data-bjax='', data-target='#bjax-target', data-el='#bjax-el', data-replace='true') Citudin venenatis ipsum ac
                              a.text-ellipsis.text-xs.text-muted(href='track-detail.html', data-bjax='', data-target='#bjax-target', data-el='#bjax-el', data-replace='true') Volutpat
                        .col-xs-6.col-sm-4.col-md-3.col-lg-2
                          .item
                            .pos-rlt
                              .item-overlay.opacity.r.r-2x.bg-black
                                .center.text-center.m-t-n
                                  a(href='#')
                                    i.fa.fa-play-circle.i-2x
                              a(href='track-detail.html')
                                img.r.r-2x.img-full(src='images/m5.jpg', alt='')
                            .padder-v
                              a.text-ellipsis(href='track-detail.html', data-bjax='', data-target='#bjax-target', data-el='#bjax-el', data-replace='true') Vestibulum ullamcorper sodales nisi
                              a.text-ellipsis.text-xs.text-muted(href='track-detail.html', data-bjax='', data-target='#bjax-target', data-el='#bjax-el', data-replace='true') Mauris Qiaos
                        .col-xs-6.col-sm-4.col-md-3.col-lg-2
                          .item
                            .pos-rlt
                              .item-overlay.opacity.r.r-2x.bg-black
                                .center.text-center.m-t-n
                                  a(href='#')
                                    i.fa.fa-play-circle.i-2x
                              a(href='track-detail.html')
                                img.r.r-2x.img-full(src='images/m6.jpg', alt='')
                            .padder-v
                              a.text-ellipsis(href='track-detail.html', data-bjax='', data-target='#bjax-target', data-el='#bjax-el', data-replace='true') Mauris convallis mauris at
                              a.text-ellipsis.text-xs.text-muted(href='track-detail.html', data-bjax='', data-target='#bjax-target', data-el='#bjax-el', data-replace='true') Neque
                        .col-xs-6.col-sm-4.col-md-3.col-lg-2
                          .item
                            .pos-rlt
                              .item-overlay.opacity.r.r-2x.bg-black
                                .center.text-center.m-t-n
                                  a(href='#')
                                    i.fa.fa-play-circle.i-2x
                              a(href='track-detail.html')
                                img.r.r-2x.img-full(src='images/m0.jpg', alt='')
                            .padder-v
                              a.text-ellipsis(href='track-detail.html', data-bjax='', data-target='#bjax-target', data-el='#bjax-el', data-replace='true') Sodales nisi nec condimentum
                              a.text-ellipsis.text-xs.text-muted(href='track-detail.html', data-bjax='', data-target='#bjax-target', data-el='#bjax-el', data-replace='true') Augue
                        .col-xs-6.col-sm-4.col-md-3.col-lg-2
                          .item
                            .pos-rlt
                              .item-overlay.opacity.r.r-2x.bg-black
                                .center.text-center.m-t-n
                                  a(href='#')
                                    i.fa.fa-play-circle.i-2x
                              a(href='track-detail.html')
                                img.r.r-2x.img-full(src='images/m8.jpg', alt='')
                            .padder-v
                              a.text-ellipsis(href='track-detail.html', data-bjax='', data-target='#bjax-target', data-el='#bjax-el', data-replace='true') Nisi nec condimentum
                              a.text-ellipsis.text-xs.text-muted(href='track-detail.html', data-bjax='', data-target='#bjax-target', data-el='#bjax-el', data-replace='true') Miaow
                        .col-xs-6.col-sm-4.col-md-3.col-lg-2
                          .item
                            .pos-rlt
                              .item-overlay.opacity.r.r-2x.bg-black
                                .center.text-center.m-t-n
                                  a(href='#')
                                    i.fa.fa-play-circle.i-2x
                              a(href='track-detail.html')
                                img.r.r-2x.img-full(src='images/m9.jpg', alt='')
                            .padder-v
                              a.text-ellipsis(href='track-detail.html', data-bjax='', data-target='#bjax-target', data-el='#bjax-el', data-replace='true') Phasellus at ultricies nequ
                              a.text-ellipsis.text-xs.text-muted(href='track-detail.html', data-bjax='', data-target='#bjax-target', data-el='#bjax-el', data-replace='true') Volutpat
                        .col-xs-6.col-sm-4.col-md-3.col-lg-2
                          .item
                            .pos-rlt
                              .item-overlay.opacity.r.r-2x.bg-black
                                .center.text-center.m-t-n
                                  a(href='#')
                                    i.fa.fa-play-circle.i-2x
                              a(href='track-detail.html')
                                img.r.r-2x.img-full(src='images/m10.jpg', alt='')
                            .padder-v
                              a.text-ellipsis(href='track-detail.html', data-bjax='', data-target='#bjax-target', data-el='#bjax-el', data-replace='true') Quis malesuada augue
                              a.text-ellipsis.text-xs.text-muted(href='track-detail.html', data-bjax='', data-target='#bjax-target', data-el='#bjax-el', data-replace='true') Feugiat
                        .col-xs-6.col-sm-4.col-md-3.col-lg-2
                          .item
                            .pos-rlt
                              .item-overlay.opacity.r.r-2x.bg-black
                                .center.text-center.m-t-n
                                  a(href='#')
                                    i.fa.fa-play-circle.i-2x
                              a(href='track-detail.html')
                                img.r.r-2x.img-full(src='images/m11.jpg', alt='')
                            .padder-v
                              a.text-ellipsis(href='track-detail.html', data-bjax='', data-target='#bjax-target', data-el='#bjax-el', data-replace='true') Ipsum ac feugiat
                              a.text-ellipsis.text-xs.text-muted(href='track-detail.html', data-bjax='', data-target='#bjax-target', data-el='#bjax-el', data-replace='true') Quam AC
                        .col-xs-6.col-sm-4.col-md-3.col-lg-2
                          .item
                            .pos-rlt
                              .item-overlay.opacity.r.r-2x.bg-black
                                .center.text-center.m-t-n
                                  a(href='#')
                                    i.fa.fa-play-circle.i-2x
                              a(href='track-detail.html')
                                img.r.r-2x.img-full(src='images/m12.jpg', alt='')
                            .padder-v
                              a.text-ellipsis(href='track-detail.html', data-bjax='', data-target='#bjax-target', data-el='#bjax-el', data-replace='true') Ullamcorper sodales nisi nec condimentu
                              a.text-ellipsis.text-xs.text-muted(href='track-detail.html', data-bjax='', data-target='#bjax-target', data-el='#bjax-el', data-replace='true') Convallis
                        .col-xs-6.col-sm-4.col-md-3.col-lg-2
                          .item
                            .pos-rlt
                              .item-overlay.opacity.r.r-2x.bg-black
                                .center.text-center.m-t-n
                                  a(href='#')
                                    i.fa.fa-play-circle.i-2x
                              a(href='track-detail.html')
                                img.r.r-2x.img-full(src='images/m13.jpg', alt='')
                            .padder-v
                              a.text-ellipsis(href='track-detail.html', data-bjax='', data-target='#bjax-target', data-el='#bjax-el', data-replace='true') Tudin venenatis ulum ullamcorper
                              a.text-ellipsis.text-xs.text-muted(href='track-detail.html', data-bjax='', data-target='#bjax-target', data-el='#bjax-el', data-replace='true') Pellent Esque
                        .col-xs-6.col-sm-4.col-md-3.col-lg-2
                          .item
                            .pos-rlt
                              .item-overlay.opacity.r.r-2x.bg-black
                                .center.text-center.m-t-n
                                  a(href='#')
                                    i.fa.fa-play-circle.i-2x
                              a(href='track-detail.html')
                                img.r.r-2x.img-full(src='images/m14.jpg', alt='')
                            .padder-v
                              a.text-ellipsis(href='track-detail.html', data-bjax='', data-target='#bjax-target', data-el='#bjax-el', data-replace='true') Sodales nisi nec condimentum
                              a.text-ellipsis.text-xs.text-muted(href='track-detail.html', data-bjax='', data-target='#bjax-target', data-el='#bjax-el', data-replace='true') Utricies
                        .col-xs-6.col-sm-4.col-md-3.col-lg-2
                          .item
                            .pos-rlt
                              .item-overlay.opacity.r.r-2x.bg-black
                                .center.text-center.m-t-n
                                  a(href='#')
                                    i.fa.fa-play-circle.i-2x
                              a(href='track-detail.html')
                                img.r.r-2x.img-full(src='images/m15.jpg', alt='')
                            .padder-v
                              a.text-ellipsis(href='track-detail.html', data-bjax='', data-target='#bjax-target', data-el='#bjax-el', data-replace='true') Sec condimentum augue
                              a.text-ellipsis.text-xs.text-muted(href='track-detail.html', data-bjax='', data-target='#bjax-target', data-el='#bjax-el', data-replace='true') Quis Fox
                        .col-xs-6.col-sm-4.col-md-3.col-lg-2
                          .item
                            .pos-rlt
                              .item-overlay.opacity.r.r-2x.bg-black
                                .center.text-center.m-t-n
                                  a(href='#')
                                    i.fa.fa-play-circle.i-2x
                              a(href='track-detail.html')
                                img.r.r-2x.img-full(src='images/a9.png', alt='')
                            .padder-v
                              a.text-ellipsis(href='track-detail.html', data-bjax='', data-target='#bjax-target', data-el='#bjax-el', data-replace='true') Dimentum at pellentesque volutpat
                              a.text-ellipsis.text-xs.text-muted(href='track-detail.html', data-bjax='', data-target='#bjax-target', data-el='#bjax-el', data-replace='true') Suada
                        .col-xs-6.col-sm-4.col-md-3.col-lg-2
                          .item
                            .pos-rlt
                              .item-overlay.opacity.r.r-2x.bg-black
                                .center.text-center.m-t-n
                                  a(href='#')
                                    i.fa.fa-play-circle.i-2x
                              a(href='track-detail.html')
                                img.r.r-2x.img-full(src='images/m16.jpg', alt='')
                            .padder-v
                              a.text-ellipsis(href='track-detail.html', data-bjax='', data-target='#bjax-target', data-el='#bjax-el', data-replace='true') Natis ipsum ac feugiat
                              a.text-ellipsis.text-xs.text-muted(href='track-detail.html', data-bjax='', data-target='#bjax-target', data-el='#bjax-el', data-replace='true') Monvallis
                        .col-xs-6.col-sm-4.col-md-3.col-lg-2
                          .item
                            .pos-rlt
                              .item-overlay.opacity.r.r-2x.bg-black
                                .center.text-center.m-t-n
                                  a(href='#')
                                    i.fa.fa-play-circle.i-2x
                              a(href='track-detail.html')
                                img.r.r-2x.img-full(src='images/m17.jpg', alt='')
                            .padder-v
                              a.text-ellipsis(href='track-detail.html', data-bjax='', data-target='#bjax-target', data-el='#bjax-el', data-replace='true') Dimentum tesque volut icies neque
                              a.text-ellipsis.text-xs.text-muted(href='track-detail.html', data-bjax='', data-target='#bjax-target', data-el='#bjax-el', data-replace='true') Londi Mentum
                      ul.pagination.pagination
                        li
                          a(href='#')
                            i.fa.fa-chevron-left
                        li.active
                          a(href='#') 1
                        li
                          a(href='#') 2
                        li
                          a(href='#') 3
                        li
                          a(href='#') 4
                        li
                          a(href='#') 5
                        li
                          a(href='#')
                            i.fa.fa-chevron-right
            footer.footer.bg-info.dker
              #jp_container_N
                .jp-type-playlist
                  #jplayer_N.jp-jplayer.hide
                  .jp-gui
                    .jp-video-play.hide
                      a.jp-video-play-icon play
                    .jp-interface
                      .jp-controls
                        div
                          a.jp-previous
                            i.icon-control-rewind.i-lg
                        div
                          a.jp-play
                            i.icon-control-play.i-2x
                          a.jp-pause.hid
                            i.icon-control-pause.i-2x
                        div
                          a.jp-next
                            i.icon-control-forward.i-lg
                        .hide
                          a.jp-stop
                            i.fa.fa-stop
                        div
                          a(data-toggle='dropdown', data-target='#playlist')
                            i.icon-list
                        .jp-progress.hidden-xs
                          .jp-seek-bar.dk
                            .jp-play-bar.bg-info
                            .jp-title.text-lt
                              ul
                                li
                        .hidden-xs.hidden-sm.jp-current-time.text-xs.text-muted
                        .hidden-xs.hidden-sm.jp-duration.text-xs.text-muted
                        .hidden-xs.hidden-sm
                          a.jp-mute(title='mute')
                            i.icon-volume-2
                          a.jp-unmute.hid(title='unmute')
                            i.icon-volume-off
                        .hidden-xs.hidden-sm.jp-volume
                          .jp-volume-bar.dk
                            .jp-volume-bar-value.lter
                        div
                          a.jp-shuffle(title='shuffle')
                            i.icon-shuffle.text-muted
                          a.jp-shuffle-off.hid(title='shuffle off')
                            i.icon-shuffle.text-lt
                        div
                          a.jp-repeat(title='repeat')
                            i.icon-loop.text-muted
                          a.jp-repeat-off.hid(title='repeat off')
                            i.icon-loop.text-lt
                        .hide
                          a.jp-full-screen(title='full screen')
                            i.fa.fa-expand
                          a.jp-restore-screen(title='restore screen')
                            i.fa.fa-compress.text-lt
                  #playlist.jp-playlist.dropup
                    ul.dropdown-menu.aside-xl.dker
                      // The method Playlist.displayPlaylist() uses this unordered list
                      li.list-group-item
                  .jp-no-solution.hide
                    span Update Required
                    | To play the media you will need to either update your browser to a recent version or update your
                    a(href='http://get.adobe.com/flashplayer/', target='_blank') Flash plugin
                    | .
          a.hide.nav-off-screen-block(href='#', data-toggle='class:nav-off-screen,open', data-target='#nav,html')
