doctype html
html(lang="en",class="app")
  head
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
    title music-note
    link(rel='stylesheet', href='/js/jPlayer/jplayer.flat.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/animate.css')
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/simple-line-icons.css')
    link(rel='stylesheet', href='/css/font.css')
    link(rel='stylesheet', href='/css/app.css')
  body(class="")
    block content
    script(src="/js/jquery.min.js")
    script(src="/js/bootstrap.js")
    script(src="/js/app.js")
    script(src="/js/slimscroll/jquery.slimscroll.min.js")
    script(src="/js/app.plugin.js")
    script(src="/js/jPlayer/jquery.jplayer.min.js")
    script(src="/js/jPlayer/add-on/jplayer.playlist.min.js")
    script(src="/js/jPlayer/demo.js")