.modal-dialog
  .modal-content
    .modal-header
      button.close(type='button', data-dismiss='modal') ×
      h4.modal-title Modal title
    .modal-body
      | ...
    .modal-footer
      a.btn.btn-default(href='#', data-dismiss='modal') Close
      a.btn.btn-primary(href='#') Save
  // /.modal-content
// /.modal-dialog
