.modal-over
  .modal-center.animated.fadeInUp.text-center(style='width:200px;margin:-80px 0 0 -100px;')
    .thumb-md
      img.img-circle.b-a.b-light.b-3x(src='images/a0.png')
    p.text-white.h4.m-t.m-b John.Smith
    .input-group
      input.form-control.text-sm.btn-rounded(type='password', placeholder='Enter pwd to continue')
      span.input-group-btn
        button.btn.btn-success.btn-rounded(type='button', data-dismiss='modal')
          i.fa.fa-arrow-right
