extends layout

block content
  section#content.m-t-lg.wrapper-md.animated.fadeInUp
    .container.aside-xl
      a.navbar-brand.block(href='index.html')
        span.h1.font-bold Musik
      section.m-b-lg
        header.wrapper.text-center
          strong Sign in to get in touch
        form(action='index.html')
          .form-group
            input.form-control.rounded.input-lg.text-center.no-border(type='email', placeholder='Email')
          .form-group
            input.form-control.rounded.input-lg.text-center.no-border(type='password', placeholder='Password')
          button.btn.btn-lg.btn-warning.lt.b-white.b-2x.btn-block.btn-rounded(type='submit')
            i.icon-arrow-right.pull-right
            span.m-r-n-lg Sign in
          .text-center.m-t.m-b
            a(href='#')
              small Forgot password?
          .line.line-dashed
          p.text-muted.text-center
            small Do not have an account?
          a.btn.btn-lg.btn-info.btn-block.rounded(href='signup.html') Create an account
  // footer
  footer#footer
    .text-center.padder
      p
        small
          | Web app framework base on Bootstrap
          br
          | © 2014
